@import url("./reset.css");
@import url("./global.css");

/* navbar style */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-pastel-light-orange);
  align-items: center;
  color: var(--color-pastel-blue);
  padding: 1.2rem;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-heavy-bold);
  margin-left: 0.75em;
}
.logo {
  border-radius: 0.25em;
  width: 2em;
  height: 2em;
}
.logo__link {
  margin-left: 0.6em;
  color: var(--color-pastel-blue);
}

.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 0.5em 0.75em;
  margin: 0 0.25em;
  cursor: pointer;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  border-radius: var(--size-border-radius);
}
.navbar__menu__item.active {
  border: 1px solid var(--color-pastel-blue);
}
.navbar__menu__item:hover {
  background-color: var(--color-pastel-pink);
}
/* Home style */
#Home {
  background: url(../imgs/home-background.png) no-repeat center/cover;
  padding: 2.5em;
  text-align: center;
}
.home_avatar {
  width: 15.625em;
  height: 15.625em;
  border-radius: 50%;
  border: 5px solid var(--color-light-white);
}
.home__title,
.home__description {
  color: var(--color-pastel-blue);
}
.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 1.5em;
  padding: 0.5em 0.75em;
  border: 2px solid var(--color-pastel-blue);
  border-radius: 4px;
  color: var(--color-pastel-blue);
}
